<h1> Смены </h1>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
  <tr>
    <th>Начало </th>
    <th>Окончание</th>
    <th>Имя водителя</th>
    <th>Автомобиль</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let shift of shiftsList" (click)="openShiftInfo(shiftInfo, shift)" style="cursor:pointer">
    <td> {{shift.start}}</td>
    <td> {{shift.end}}</td>
    <td> {{shift.driver.fullName}}</td>
    <td> {{shift.vehicle.name}}</td>
  </tr>
  </tbody>
</table>
<!--<button type="button" class="btn btn-outline-primary" (click)="openCreateModal(createShiftModal)">Создать</button>-->

<ng-template #shiftInfo>
  <div class="modal-header">
    <h4 class="modal-title">Смена</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeShiftInfo()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="shiftStart">Начало</label>
        <div class="input-group">
          <input class="form-control" type="text" id="shiftStart" [readOnly]="!isUpdate" name="start" [(ngModel)]="currentShift.start">
        </div>
        <label for="shiftEnd">Окончание</label>
        <div class="input-group">
          <input class="form-control" type="text" id="shiftEnd" [readOnly]="!isUpdate" name="end" [(ngModel)]="currentShift.end">
        </div>
        <label for="shiftDriverFullName">Имя водителя</label>
        <div class="input-group">
          <input class="form-control" type="text" id="shiftDriverFullName" [readOnly]="true" name="driver" [(ngModel)]="currentShift.driver.fullName">
        </div>
        <label for="shiftVehicleName">Автомобиль</label>
        <div class="input-group">
          <input class="form-control" type="text" id="shiftVehicleName" [readOnly]="true" name="vehicle" [(ngModel)]="currentShift.vehicle.name">
        </div>
        <label for="shiftKilometrage">Пройдено (км)</label>
        <div class="input-group">
          <input class="form-control" type="text" id="shiftKilometrage" [readOnly]="!isUpdate" name="kilometrage" [(ngModel)]="currentShift.kilometrage">
        </div>
        <label for="shiftFuelConsumed">Расход топлива (л)</label>
        <div class="input-group">
          <input class="form-control" type="text" id="shiftFuelConsumed" [readOnly]="true" name="fuelConsumed" [(ngModel)]="currentShift.fuelConsumedLiters">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div *ngIf="isUpdate; then ifUpdateBlock else ifNotUpdateBlock"></div>
    <ng-template #ifUpdateBlock>
      <button type="button" class="btn btn-outline-primary" (click)="saveChanges()">Сохранить</button>
      <button type="button" class="btn btn-outline-dark" (click)="(isUpdate = false)">Отменить</button>
    </ng-template>
    <ng-template #ifNotUpdateBlock>
      <button type="button" class="btn btn-outline-dark" (click)="(isUpdate = true)">Редактировать</button>
    </ng-template>
    <button type="button" class="btn btn-outline-danger" (click)="delete()">Удалить</button>
  </div>
</ng-template>

<!--<ng-template #createShiftModal let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title">Новый водитель</h4>-->
<!--    <button type="button" class="close" aria-label="Close" (click)="modal.close()">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <label for="newFullName">Полное имя</label>-->
<!--        <div class="input-group">-->
<!--          <input class="form-control" type="text" id="newFullName" name="fullName" [(ngModel)]="newShift.fullName">-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-outline-primary" (click)="add()">Создать</button>-->
<!--  </div>-->
<!--</ng-template>-->

