<h1> Смены </h1>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
  <tr>
    <th>Начало </th>
    <th>Окончание</th>
    <th>Имя водителя</th>
    <th>Автомобиль</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let shift of shiftsList" (click)="openShiftInfo(shiftInfo, shift)" style="cursor:pointer">
    <td> {{shift.start}}</td>
    <td> {{shift.end}}</td>
    <td> {{shift.driver.fullName}}</td>
    <td> {{shift.vehicle.name}}</td>
  </tr>
  </tbody>
</table>

<ng-template #shiftInfo>
  <div class="modal-header">
    <h4 class="modal-title">Смена</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeShiftInfo()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="shiftStart">Начало</label>
        <div class="input-group">
          <input class="form-control" type="datetime-local" id="shiftStart" [readOnly]="!isUpdate" name="start"
                 [(ngModel)]="displayedShift.start" required #start="ngModel">
        </div>
        <div *ngIf="start.invalid" class="alert alert-danger">
          <div *ngIf="start.errors?.required">Поле не может быть пустым</div>
        </div>
        <label for="shiftEnd">Окончание</label>
        <div class="input-group">
          <input class="form-control" type="datetime-local" id="shiftEnd" [readOnly]="!isUpdate" name="end"
                 [(ngModel)]="displayedShift.end" required #end="ngModel">
        </div>
        <div *ngIf="end.invalid" class="alert alert-danger">
          <div *ngIf="end.errors?.required">Поле не может быть пустым</div>
        </div>
        <label for="shiftDriverFullName">Имя водителя</label>
        <div class="input-group">
          <input class="form-control" type="text" id="shiftDriverFullName" [readOnly]="true" name="driver"
                 [(ngModel)]="displayedShift.driver.fullName" required #driver="ngModel">
        </div>
        <div *ngIf="driver.invalid" class="alert alert-danger">
          <div *ngIf="driver.errors?.required">Поле не может быть пустым</div>
        </div>
        <label for="shiftVehicleName">Автомобиль</label>
        <div class="input-group">
          <input class="form-control" type="text" id="shiftVehicleName" [readOnly]="true" name="vehicle"
                 [(ngModel)]="displayedShift.vehicle.name" required #vehicle="ngModel">
        </div>
        <div *ngIf="vehicle.invalid" class="alert alert-danger">
          <div *ngIf="vehicle.errors?.required">Поле не может быть пустым</div>
        </div>
        <label for="shiftKilometrage">Пройдено (км)</label>
        <div class="input-group">
          <input class="form-control" type="number" id="shiftKilometrage" [readOnly]="!isUpdate" name="kilometrage"
                 [(ngModel)]="displayedShift.kilometrage" required [min]="0" #kilometrage="ngModel">
        </div>
        <div *ngIf="kilometrage.invalid" class="alert alert-danger">
          <div *ngIf="kilometrage.errors?.required">Поле не может быть пустым</div>
        </div>
        <label for="shiftFuelConsumed">Расход топлива (л)</label>
        <div class="input-group">
          <input class="form-control" type="number" id="shiftFuelConsumed" [readOnly]="!isUpdate" name="fuelConsumed"
                 [(ngModel)]="displayedShift.fuelConsumedLiters" required [min]="0" #fuelConsumed="ngModel">
        </div>
        <div *ngIf="kilometrage.invalid" class="alert alert-danger">
          <div *ngIf="kilometrage.errors?.required">Поле не может быть пустым</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div *ngIf="isUpdate; then ifUpdateBlock else ifNotUpdateBlock"></div>
    <ng-template #ifUpdateBlock>
      <button type="button" class="btn btn-outline-primary" (click)="saveChanges()">Сохранить</button>
      <button type="button" class="btn btn-outline-dark" (click)="cancelChanges()">Отменить</button>
    </ng-template>
    <ng-template #ifNotUpdateBlock>
      <button type="button" class="btn btn-outline-dark" (click)="enableEditing()">Редактировать</button>
    </ng-template>
    <button type="button" class="btn btn-outline-danger" (click)="delete()">Удалить</button>
  </div>
</ng-template>

